body {
  display: flex;
  font-family: Helvetica;
  background-color: Black;
}

header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 69px;
  padding: 10px;
  opacity: 0.9;
}
header nav {
  display: flex;
  margin-right: 50px;
}
nav span a {
  display: inline-block;
  text-decoration: underline;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  color: seashell;
  font-size: 22px;
}
.logo {
  display: flex;
  flex-grow: 1;
}

/* Mission */

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 1200px;
  height: 700px;
  }
.mission img {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  padding-left: 250px;
  padding-right: 100px;
  padding-top: 500px;
  padding-bottom: 100px;

}

.mission-content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center;
  color: white;
  padding: 175px;
  margin-right: 20px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:
}
.footer title {

}
.footer.content {
  display: inline-block;
  width: 300px;
  padding-top: 15px;
}
